*{
    font-family: 'Sora', Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    padding:0;
    margin:0;
}

body{
    height:100vh;
    width:100vw;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
    overflow:hidden;
}

h1{
    font-weight:800;
    text-align: center;
    font-size: calc(1.5vw + 12px);
}

.chars_left{
    font-weight:900;
}

#search_form{
    position:relative;
    display:flex;
    flex-flow: column;
    width:60%;
    #search_box{
        position:relative;
        width:100%;
        #search_input{
            border-radius:8px;
            padding:0% 2%;
            outline:none;
            width:100%;
            box-sizing: border-box;
            font-size: calc(max(1.5vw, 12px));
        }
        #results_box{
            position:absolute;
            bottom:0;
            transform:translateY(100%);
            left:0;
            width:100%;
            display:flex;
            flex-flow: column;
            background:white;
            box-shadow:0px 0px 8px 0px rgba(0,0,0,0.1);
            border-bottom-left-radius:8px;
            border-bottom-right-radius:8px;
            p{
                width:100%;
                margin:0;
                font-size: calc(max(1.5vw, 12px));
                padding:1% 2%;
                box-sizing: border-box;
                border-right:1px solid grey;
                border-left: 1px solid grey;
                &:hover{
                    background:rgb(240, 240, 240);
                    transition:all 0.3s;
                }
                &:last-child{
                    border-bottom:1px solid grey;
                    border-bottom-left-radius:8px;
                    border-bottom-right-radius:8px;
                }
            }
        }
    }
    #search_submit{
        width:50%;
        margin-top:2%;
        align-self: center;
        border-radius:8px;
        background:#0066FF;
        color:white;
        outline:none;
        border:2px outset #99CCFF;
        padding:2% 0;
        font-size:2vw;
        font-weight: 600;
        &:active{
            border:2px inset #99CCFF;
        }
        &:hover{
            cursor:pointer;
            background:#2079ff;
        }
    }
}